faiss-cpu
langchain
openai
python-dotenv
jinja2
python-multipart
uvicorn
tiktoken
langchain
unstructured[all-docs]
pydantic
lxml
openai
faiss-cpu
tiktoken
opencv-python
boto3
libmagic
python-magic
omegaconf==2.0.6